<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS / Azure App Service web.config for Python Flask app.
  Only needed if deploying to a Windows App Service plan.
  For Linux App Service (recommended), use startup.sh instead.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\python364x86\python.exe"
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% web.wsgi:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%HOME%\LogFiles\python.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
